/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  position: relative;
}

/* Header styles*/
header {
  width: 100%;
  padding: 14px 16px 0px;
}

nav {
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Body styles */
main {
  width: 100%;
  padding: 16px;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 12px 0;
}

#design-props {
  width: 100%;
}

.project-img {
  width: 100%;
}

.project-name {
  width: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project-details {
  display: flex;
  gap: 12px;
}

.project-details h5:first-child {
  color: #344563;
}

.project-details h5 {
  color: #7a869a;
  font-weight: 600px;
}

.project-description {
  margin: 12px 0;
  font-weight: 400;
}

.project-used-techs {
  display: flex;
  gap: 6px;
}

.project-used-techs h6 {
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.project-button {
  color: #396df2;
  background: transparent;
  border: 1px solid #396df2;
  font-size: 17px;
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 12px;
  margin: 24px 0px 12px;
  border-radius: 8px;
}
